#include <stdio.h>
#include <math.h>
#include "layers.h"
#include "inference.h"

int inference(float prediction[net[nb_layers-1].layer_size], float nn_input[net[0].layer_size])
{
    static float output_pre[l_size_max];
    static float output_cur[l_size_max];

    net[0].layer_type(0, nn_input, output_pre);

    for (int i=1; i < nb_layers; ++i)
    {
        net[i].layer_type(i, output_pre, output_cur);

        for (int j = 0; j < net[i].layer_size; ++j){
            if (i < nb_layers-1){
                output_pre[j] = output_cur[j];
            }
            else
                prediction[j] = output_cur[j];
        }
    }
    return 0;
}
