#include <stdio.h>
#include <math.h>
#include <time.h>
#include "test_dataset.hpp"
#include "inference.hpp"

struct timeval GetTimeStamp();

int main(int argc, char** argv)
{
    char *path = argv[1];

    FILE *fp = fopen(path, "w+");

    {{data_type}} predictions[NB_SAMPLES][NN_OUTPUT_SIZE];

    clock_t t0 = clock();
    for (int i = 0; i < NB_SAMPLES; ++i){
        inference(predictions[i], nn_test_inputs[i]);
    }
    clock_t t1 = clock();

    printf("   Average time over %d tests: %e s \n", NB_SAMPLES,
            (float)(t1-t0)/NB_SAMPLES/(float)CLOCKS_PER_SEC/(float)100);

    printf("   ACETONE framework's inference output: \n");
    for (int i = 0; i < NB_SAMPLES; ++i){
        for (int j = 0; j < NN_OUTPUT_SIZE; ++j){
            fprintf(fp,"%.9g ", predictions[i][j]);
            printf("%.9g ", predictions[i][j]);
            if (j == NN_OUTPUT_SIZE - 1){
                fprintf(fp, "\n");
                printf("\n");
            }
        }
    }

    fclose(fp);
    fp = NULL;

    return 0;
}
